<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.tutorialninja.customerlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Login Test" >
        <classes>
            <class name="com.tutorialninja.testsuite.AccountLoginPageTest"></class>
            <class name="com.tutorialninja.testsuite.AccountRegisterPageTest"></class>
            <class name="com.tutorialninja.testsuite.DeskTopTest"></class>
            <class name="com.tutorialninja.testsuite.LapTopsAndNoteBooksTest"></class>
            <class name="com.tutorialninja.testsuite.TopMenuTest"></class>
        </classes>
    </test>
</suite>